.hw100 {
    height: 100vh; /* Full height of the viewport */
    width: 100vw;  /* Full width of the viewport */
  }
  
  .carousel-item img {
    height: 100vh; /* Ensures the images are full height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
  }
  