.hw100{
  height: 100vh;
  width: 100%;
}

.w100{
  width: 100vw;
}

.bgr{
background-color: #ff4b5c;
}
.bgb{
background-color: #000000;
}

*{
  padding: 0;
  margin: 0;

}

.p3r{
  padding: 3rem;
}

.tcb{
  color: black;
}